{% include 'main/navbar.html' %}
{% load static %}
<html>

<head>

    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/restaurant.css' %}">
    <title> Update Profile | Joo3an </title>


    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style="margin: 0;
padding: 0;
font-family:Arial;
background-color:#F5F5DC;
background-image:url({% static 'images/food-doodles.jpg' %});
background-size:cover;
background-position: center;
background-blend-mode: lighten;
">

    <div style="margin-left:4%; margin-right:4%; margin-top:5%;">
        <h2>Complaint Posting</h2>


        <div class="container">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-25">
                        <label for="attr">Choices:</label>
                    </div>
                    <div class="col-75">
                        <select id="attr" name="choice">
                            <option value="1">Review Complaint</option>
                            <option value="2">Announcement Complaint</option>

                        </select>
                    </div>

                    <div class="row">
                        <div class="col-25">
                            <label for="subject">What is your complaint?</label>
                        </div>
                        <div class="col-75">
                            <textarea id="subject" name="text" placeholder="What is your complaint?"
                                style="height:200px"></textarea>
                        </div>
                    </div>



                    <div class="row">
                        <input style="margin-right:15%;" type="submit" value="Submit">
                    </div>
            </form>
        </div>


    </div>
    <br><br><br>
    <div class="container">
        {% if request.user.is_superuser %}
        <h1>For Admin: List of all complaints:</h1>
        <div class="row">
            {% for complaint in complaints %}
            <div class="column" style="background-color:#ffa805;">
                {% if complaint.choice == 1 %}
              <h2> {{ forloop.counter }} Complaint about review </h2> 
              {% else %}
              <h2> {{ forloop.counter }} Complaint about announcement</h2>
              {% endif %}
              <br/>
              <p> {{complaint.text}}</p>
            </div>
            {% endfor %}
            
          </div>
        {% endif %}

    </div>
    <script src="{% static '/js/restaurant.js'%}"></script>
</body>

</html>